@{
    ViewBag.Title = "Forgot Password";
}

<hgroup class="title">
    <h2>Email sent</h2>
</hgroup>
<div>
    <p>
        An email was sent to you. Check your email for password reset link.
    </p>
</div>
	
