@{
    ViewBag.Title = "Password Expired";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div>
    <p>
        Your password has expired. Please check your email to reset your password.
    </p>
</div>
	
