body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.btn {
    width: inherit;
}

.margin-top-24 {
    margin: 24px;
}

.max-hw {
    height: 100%;
    width: 100%;
}

.no-padding {
    padding: 0;
}

.small-panel {
    /*background-color: #b3b3cc;*/
    border-radius: 20px;
    border-style: groove;
    min-height: 500px;
    padding: 40px;
    opacity: 0.85;
}

.body-bg-img {
    /*background-image: url('~/Content/img/neonlightballoons.jpg');*/
    background-image: url('img/neonlightsquare.jpg');
}

/*FlexBox form equal row heights in bootstrap row*/
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
/*
 * And with max cross-browser enabled.
 * Nobody should ever write this by hand. 
 * Use a preprocesser with autoprefixing.
 */
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
